{% load static %}
<footer>
    <div class="container footer-content">
        <div class="footer-column">
            <h3>Партнёрам</h3>
            <a href="#">API</a>
            <a href="#">Стать продавцом на SORAKEYS</a>
            <a href="#">Партнерская программа</a>
            <a href="#">Публичная оферта для продавцов</a>
            <a href="#">Правила для Продавца</a>
            <a href="#">Автоматическое B2B решение</a>
        </div>
        <div class="footer-column">
            <h3>Покупателям</h3>
            <a href="#">Часто задаваемые вопросы</a>
            <a href="#">Публичная оферта для покупателей</a>
            <a href="#">Политика возврата средств</a>
        </div>
        <div class="footer-column">
            <h3>SORAKEYS</h3>
            <a href="{% url 'contacts_view' %}">Контакты</a>
            <a href="{% url 'about_view' %}">О компании</a>
            <a href="#">Политика конфиденциальности</a>
            <a href="{% url 'find_us_view' %}">Как нас найти</a>
        </div>
    </div>
    <div class="footer-divider"></div>
    <div class="container social-media">
        <a href="https://vk.com/sorakeys"><img src="https://img.icons8.com/ios-filled/50/vk-com.png" alt="VK"></a>
            <a href="https://facebook.com/sorakeys"><img src="https://img.icons8.com/ios-filled/50/facebook-new.png" alt="Facebook"></a>
            <a href="https://t.me/sorakeys"><img src="https://img.icons8.com/ios-filled/50/telegram-app.png" alt="Telegram"></a>
            <a href="https://instagram.com/sorakeys"><img src="https://img.icons8.com/ios-filled/50/instagram-new.png" alt="Instagram"></a>
            <a href="https://youtube.com/sorakeys"><img src="https://img.icons8.com/ios-filled/50/youtube-play.png" alt="YouTube"></a>
            <a href="https://tiktok.com/@sorakeys"><img src="https://img.icons8.com/ios-filled/50/tiktok.png" alt="TikTok"></a>
            <a href="https://store.steampowered.com"><img src="https://img.icons8.com/ios-filled/50/steam.png" alt="Steam"></a>
            <a href="https://discord.gg/sorakeys"><img src="https://img.icons8.com/ios-filled/50/discord-logo.png" alt="Discord"></a>
    </div>
    <div class="container footer-bottom">
        <p>@2025 - SORAKEYS. Все права защищены.</p>
        <p>Поддержка: <a href="mailto:support@sorakeys.net">support@sorakeys.net</a></p>
    </div>
</footer>