{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SORAKEYS{% endblock %}</title>
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    {% include '_inc/_header.html' %}
    <main>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </main>
    {% include '_inc/_footer.html' %}
</body>
</html>